# BIRTH Rate Analysis

In [2]:
import pandas as pd
df = pd.read_csv("CS15 - births.csv")
df

       year  month  day gender  births
0      1969      1  1.0      F    4046
1      1969      1  1.0      M    4440
2      1969      1  2.0      F    4454
3      1969      1  2.0      M    4548
4      1969      1  3.0      F    4548
...     ...    ...  ...    ...     ...
15542  2008     10  NaN      M  183219
15543  2008     11  NaN      F  158939
15544  2008     11  NaN      M  165468
15545  2008     12  NaN      F  173215
15546  2008     12  NaN      M  181235

[15547 rows x 5 columns]

In [3]:
df.head()

   year  month  day gender  births
0  1969      1  1.0      F    4046
1  1969      1  1.0      M    4440
2  1969      1  2.0      F    4454
3  1969      1  2.0      M    4548
4  1969      1  3.0      F    4548

In [4]:
df.tail()

       year  month  day gender  births
15542  2008     10  NaN      M  183219
15543  2008     11  NaN      F  158939
15544  2008     11  NaN      M  165468
15545  2008     12  NaN      F  173215
15546  2008     12  NaN      M  181235

In [5]:
df.describe

<bound method NDFrame.describe of        year  month  day gender  births
0      1969      1  1.0      F    4046
1      1969      1  1.0      M    4440
2      1969      1  2.0      F    4454
3      1969      1  2.0      M    4548
4      1969      1  3.0      F    4548
...     ...    ...  ...    ...     ...
15542  2008     10  NaN      M  183219
15543  2008     11  NaN      F  158939
15544  2008     11  NaN      M  165468
15545  2008     12  NaN      F  173215
15546  2008     12  NaN      M  181235

[15547 rows x 5 columns]>

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15547 entries, 0 to 15546
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    15547 non-null  int64
 1   month   15547 non-null  int64
 2   day     15067 non-null  float64
 3   gender  15547 non-null  object
 4   births  15547 non-null  int64
dtypes: float64(1), int64(3), object(1)
memory usage: 607.4+ KB

In [8]:
df.isnull().sum()

year        0
month       0
day       480
gender      0
births      0
dtype: int64

In [10]:
df.dtypes

year        int64
month       int64
day       float64
gender     object
births      int64
dtype: object

In [13]:
df['day'].fillna(df['day'].mode()[1],inplace=True)

In [14]:
df.isnull().sum()

year      0
month     0
day       0
gender    0
births    0
dtype: int64

In [15]:
X=df.drop("gender",axis=1)
y=df['gender']

In [16]:
# scal the featuers max value = 1 , min value = 0 
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler() 
X = scaler.fit_transform(X)

In [17]:
# convert the target from categorical to numerical 
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
encoder = LabelEncoder()
y = encoder.fit_transform(y)

In [18]:
# split the data to 80% train & 20% test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, shuffle=True, random_state=42)

In [19]:
X_train.shape , X_test.shape

((12437, 4), (3110, 4))

In [20]:
y_train.shape , y_test.shape

((12437,), (3110,))

In [ ]:
# LOGISTIC REGRESSION

In [21]:
from sklearn.linear_model import LogisticRegression
classifier1=LogisticRegression()
classifier1.fit(X_train,y_train)

LogisticRegression()

In [22]:
Y_pred = classifier1.predict(X_test)
Y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [24]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,Y_pred)
print(cm)

[[1280  244]
 [1350  236]]

In [25]:
df1 = pd.DataFrame({'Actual':y_test , 'Predicted':Y_pred})
df1

      Actual  Predicted
0          1          0
1          0          0
2          0          0
3          0          0
4          1          0
...      ...        ...
3105       0          0
3106       0          0
3107       0          0
3108       1          0
3109       1          0

[3110 rows x 2 columns]

In [26]:
from sklearn.metrics import classification_report
print(classification_report(y_test,Y_pred))

              precision    recall  f1-score   support

           0       0.49      0.84      0.62      1524
           1       0.49      0.15      0.23      1586

    accuracy                           0.49      3110
   macro avg       0.49      0.49      0.42      3110
weighted avg       0.49      0.49      0.42      3110

In [ ]:
# Naive Bayes

In [27]:
from sklearn.naive_bayes import GaussianNB
classifier2 = GaussianNB()
classifier2.fit(X_train,y_train)

GaussianNB()

In [28]:
Y_pred1 = classifier2.predict(X_test)

In [29]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,Y_pred1)
print(cm)

[[1433   91]
 [1503   83]]

In [30]:
from sklearn.metrics import classification_report
print(classification_report(y_test,Y_pred1))

              precision    recall  f1-score   support

           0       0.49      0.94      0.64      1524
           1       0.48      0.05      0.09      1586

    accuracy                           0.49      3110
   macro avg       0.48      0.50      0.37      3110
weighted avg       0.48      0.49      0.36      3110

In [31]:
# SVM

In [32]:
from sklearn.svm import SVC
model =  SVC()

In [33]:
model.fit(X_train, y_train)

SVC()

In [34]:
y_pred = model.predict(X_test)

In [35]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)
cm

array([[1200,  324],
       [1274,  312]], dtype=int64)

In [36]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.49      0.79      0.60      1524
           1       0.49      0.20      0.28      1586

    accuracy                           0.49      3110
   macro avg       0.49      0.49      0.44      3110
weighted avg       0.49      0.49      0.44      3110